.gradient-custom {
    /* fallback for old browsers */
    background: white;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right bottom, white, white);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right bottom, #B4B4B3, #45474B)
    }
    .button {
        margin: 0 0 0 310px;/* Top, right, bottom, left */
      }